<!DOCTYPE html>
<html lang="en">
  <head>
    <meta>charset="UTF-8"<meta>
    <meta> name="viewport" content="width=device-width, initial-scale=1.0" <meta>
    <title>Interactive Page</title>
    <script>
      async function handleClick() {
        try {
          let response = await fetch("https://YOUR_LAMBDA_URL_HERE");
          let text = await response.text();
          document.getElementById("response").innerHTML = text;
          document.getElementById("img").src =
            "https://images.unsplash.com/photo-1540573133985-87b6da6d54a9";
        } catch (error) {
          console.error("Error fetching the response:", error);
        }
      }

      
      window.onload = function () {
        document.getElementById("button").addEventListener("click", handleClick);
      };
    </script>
  </head>
  <body>
    <div style="text-align: center;">
      <br /><br /><br /><br />
      <h1>
        Hello <span id="response">all! What happens when you click on the button below?</span>
      </h1>

      <button id="button">Click me</button><br /><br /><br />
      <img
        id="img"
        width="1000"
        height="1000"
        src="https://images.unsplash.com/photo-1529247833802-700f53170380"
        alt="Image of a Monkey"
      />
    </div>
  </body>
</html>
